body {
          margin: 0;
          font-family: 'Chivo', sans-serif;
          background: url(./assets/mobile/image-host.jpg) center fixed;
          background-repeat: no-repeat;
          background-size: cover;
          color: #FFF;
}

.tablet-bg {
          display: none;
}

.desktop-bg {
          display: none;
}

.content {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgba(18, 23, 37, .9);
          z-index: -1;
}

.logo {
          display: block;
          margin: 15% auto 0 auto;
          z-index: 2;
}

.header h1 {
          margin-top: 175px;
          font-style: normal;
          font-size: 26px;
          font-weight: 300;
          text-align: center;
          line-height: 146%;
          text-transform: uppercase;
          margin-left: 6.4%;
          margin-right: 6.4%;
          color: #54E6AF;       
}

.header h1 span {
          color: white;
}

.main {
          font-size: 15px;
          line-height: 167%;
          font-weight: 300;
          text-align: center;
          margin-left: 6.4%;
          margin-right: 6.4%;
          color: #C2CBE5;
}

.logos {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: auto;
          margin: 10% 8% 10% 8%;
          opacity: .5;
}

.spotify {
          height: 17px;
}

.apple {
          height: 17px;
}

.google {
          height: 11px;
}

.pocket {
          height: 15px;
}

.email {
          width: 87%;
          height: 46px;
          border: none;
          border-radius: 28px;
          background: #2C344B;
          margin-left: 6.4%;
          margin-right: 6.4%;
          margin-bottom: 16px;
          font-weight: 900;
          font-size: 14px;
          line-height: 200%;
          text-indent: 32px;
          color: #FFFFFF;
}

.email::placeholder {
          text-indent: 32px;
}

.request {
          width: 87%;
          height: 46px;
          border: none;
          border-radius: 28px;
          background: #54E6AF;
          box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.497913);
          margin-left: 6.4%;
          margin-right: 6.4%;
          font-weight: 900;
          font-size: 14px;
          line-height: 200%;
          color: #000000;
}

.dots {
          display: none;
          z-index: 3;
}

/* Responsive */
@media screen and (max-width: 340px) {
          .spotify {
                    height: 12px;
          }
          
          .apple {
                    height: 12px;
          }
          
          .google {
                    height: 7px;
          }
          
          .pocket {
                    height: 10px;
          }
          
}

@media screen and (min-width: 700px) {
          body {
                    background: none;
                    background-color: rgba(18, 23, 37, 1);
          }
          
          .content {
                    position: static;
                    margin-right: 12.2%;
                    z-index: 1;
                    background-color: rgba(18, 23, 37, 1);
          }
          
          .tablet-bg {
                    display: initial;
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: -1;
          }

          .logo {
                    display: block;
                    margin: 50px auto 0 3.8%;                    
          }
          
          .header h1 {
                    margin-top: 165px;
                    margin-left: 5%;
                    margin-right: 3%;
                    padding-top: 93px;
                    font-size: 48px;
                    text-align: left;
                    line-height: 117%;
          }
          
          .main {
                    position: relative;
                    font-size: 18px;
                    line-height: 156%;
                    text-align: left;
                    margin-left: 5%;
                    margin-right: 29.8%;
          }
          
          .logos {
                    position: relative;
                    top: 70px;
                    margin: 10% 8% 10% 5%;
          }
          
          .spotify {
                    height: 29px;
          }
          
          .apple {
                    height: 29px;
          }
          
          .google {
                    height: 18px;
          }
          
          .pocket {
                    height: 26px;
          }
          
          .email {
                    position: relative;
                    width: 63%;
                    height: 56px;
                    bottom: 140px;
                    margin-left: 5%;
                    margin-right: 32%;
                    margin-bottom: 16px;
          }

          .request {
                    position: relative;
                    width: 23%;
                    height: 46px;
                    bottom: 208px;
                    left: 40%;
                    margin-left: 5%;
                    margin-right: 32%;

          }
          
          .dots {
                    display: initial;
                    margin-left: 5%;
          }
}

@media screen and (min-width: 1175px) {
          .content {
                    margin-right: 38.3%;
          }
          
          .tablet-bg {
                    display: none;
          }

          .desktop-bg {
                    display: initial;
                    position: absolute;
                    top: 130px;
                    right: 0;
                    z-index: -1;
          }

          .logo {
                    margin: 7% auto 0 11.4%;                    
          }
          
          .header h1 {
                    margin-top: 100px;
                    margin-left: 11.4%;
                    padding-top: 88px;
                    font-size: 52px;
                    line-height: 119%;
          }
          
          .main {
                    margin-left: 11.4%;
                    margin-right: 29.8%;
          }
          
          .logos {
                    max-width: 550px;
                    margin: 10% 8% 10% 11.4%;
          }
          
          .email {
                    width: 50%;
                    bottom: 160px;
                    margin-left: 11.4%;
                    margin-bottom: 16px;
                    text-indent: 22px;
          }

          .email::placeholder {
                    text-indent: 22px;
          }

          .request {
                    width: 19%;
                    bottom: 228px;
                    left: 31%;
                    margin-left: 11.4%;
          }
          
          .dots {
                    position: absolute;
                    top: 718px;
                    right: 0;
          }
}